{% extends "layout.html" %}
{% block title %}Movie recommendation Web app{% endblock %}

{% block content %}
    <h1 style="color:#e6f0ff; position:fixed; left:250px; top:80px;">Movie recommendation Web app</h1>
    
    <div style="color:#e6f0ff; position:fixed; left:250px; top:200px;">
    <p><b>This project was developed as part of Google's Software Product Sprint 2020</b></p>
    <p>An effort by: Team #78</p>
<ul>
    <li>Jigyasa Khaneja</li>
    <li>Juhi Agarwal</li>
    <li>Arushi Gupta</li>
    <li>Karishma Khandelwal</li>
</ul>
    <p>Link to the Github repository:<a href="https://github.com/Juhi004/SPS-Project"> Github</a></p>
    
    </div>
        
         
{% endblock content %}