{% extends "layout.html" %}
{% block title %}The Avengers{% endblock %}

{% block content %}


 <div class="container-fluid col-sm-offset-1"> 

    <div class="row">

        <!-- Left Movie Info -->
        <div class="col-lg-18">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">                            
                      
                       <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" class="img-responsive" width="350" height="550">
                    </a>
                    <h2></h2>
                </div>
            </div>
        </div>
        <!-- Right Movie Info -->
        
        <div class="col-lg-16 col-lg-offset-5"> 
        	<h1>The Avengers</h1>
            <p>IMDb</p>
            <p>Genres</p>
            <p>Overview</p>
		</div>	      
    
        	


    </div>
</div>
{% endblock content %}