{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block content %}


 <div class="container-fluid col-sm-offset-1"> 

   

        <!-- Left Movie Info -->
       
         <div style="position:fixed; left:50px; top:80px;">    
               
                    <a href="#">                            
                      
                       <img src= "https://m.media-amazon.com/images/M/MV5BZjdkOTU3MDktN2IxOS00OGEyLWFmMjktY2FiMmZkNWIyODZiXkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" class="img-responsive" width="280" height="400">
                    </a>
          
        </div>
     
        <!-- Right Movie Info -->
        <div style="position:fixed; left:350px; top:80px;">
        
          <h1>Interstellar</h1>
            <p style="color:#444444;">Average IMDb: 7.9</p>
            <p style="color:#444444;">Review count: 11872</p>
            <p style="color:#444444;">Overview: Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage.</p>
       
    
        </div>

 <div style="position:fixed; right:50px; top:80px;">
     <a class="btn btn-outline-info" href="#">Get Similar Movies</a>
</div>
{% endblock content %}